body {
    background-color: #F7F3FF;
    font-family:'Merriweather', serif;

}

a {
    color: #EF5E9A;
}

.container {
   margin: 120px auto; 
   max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #2B2B2B;
}

form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}

.instructions {
   padding: 16px;
   border: 1px solid rgba (39, 33, 66, 0.5); 
   width: 80%;
   font-size: 16px;
   border-radius: 50px;
   line-height: 20px;
   color: #272044;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.submit-button {
    margin-left: 10px;
    font-size: 16px;
    background: #EF5E9A;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    width: 150px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 120ms ease-in-out;
}
.submit-button:hover {
    background-color: #885DF1 ;
}

.recipe {
    font-size: 16px;
    background-color: white;
    padding: 20px;
    line-height: 2;
    font-weight: 400px;
    border-left: 3px solid #EF5E9A;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

